@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html,
  body {
    @apply text-zinc-900 dark:text-zinc-50;
  }
}
