@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html,
  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
